<section id="about">
    <div>
        <h1>Hola, yo soy Ignacio</h1>
                <h3>Desarrollador de Aplicaciones Web</h3>
                <p>Hola, bienvenido a mi portfolio. Mi nombre es Ignacio Vidal Mendoza y tengo 19 
                    años. Me considero una persona organizada, resolutiva y con facilidad para crear 
                    amistades. Me gusta tanto enseñar como aprender con mis compañeros y trabajar 
                    en equipo. Estoy motivado por aprender y crecer profesionalmente, y busco 
                    oportunidades que me permitan aplicar mis conocimientos.</p>
    </div>
    <!-- Nueva sección para la imagen -->
    <div class="home-image">
        <img src="graduacion.png" alt="Foto graduacion" width="250" height="350">
    </div>
</section>
<section id="rrss">
    <div>
        <a href="https://www.instagram.com/igna11_/?hl=es">
            <img src="instagram.png" alt="instagram">
        </a>
        <a href="https://www.tiktok.com/@igna11_">
            <img src="tik-tok.png" alt="tiktok">
        </a>
        <a href="https://www.linkedin.com/in/ignacio-vidal-mendoza-4b5194332/">
            <img src="linkedin.png" alt="linkedin">
        </a>
        <a href="https://github.com/ignaa11">
            <img src="github.png" alt="github">
        </a>
    </div>
</section>