<section id="skills" class="skills-container">
    <div class="container">
      <h2 class="text-center mb-4">Mis Habilidades</h2>
      <div class="row text-center">
        
        <!-- HTML -->
        <div class="col-md-3">
          <div class="skill-card">
            <img src="html.png" alt="HTML">
            <h3>HTML</h3>
          </div>
        </div>
  
        <!-- CSS -->
        <div class="col-md-3">
          <div class="skill-card">
            <img src="css.png" alt="CSS">
            <h3>CSS</h3>
          </div>
        </div>
  
        <!-- JavaScript -->
        <div class="col-md-3">
          <div class="skill-card">
            <img src="javascript.png" alt="JavaScript">
            <h3>JavaScript</h3>
          </div>
        </div>
  
        <!-- Angular -->
        <div class="col-md-3">
          <div class="skill-card">
            <img src="angular.png" alt="Angular">
            <h3>Angular</h3>
          </div>
        </div>
  
        <!-- Java -->
        <div class="col-md-3">
          <div class="skill-card">
            <img src="java.png" alt="Java">
            <h3>Java</h3>
          </div>
        </div>
  
        <!-- PHP -->
        <div class="col-md-3">
          <div class="skill-card">
            <img src="php.png" alt="PHP">
            <h3>PHP</h3>
          </div>
        </div>
  
        <!-- MySQL -->
        <div class="col-md-3">
          <div class="skill-card">
            <img src="mysql.png" alt="MySQL">
            <h3>MySQL</h3>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  